@font-face {
    font-family: 'Avenir Next Medium';
    src: url('./fonts/Avenir Next LT Pro/AvenirNextLTPro-Regular.otf');
}

@font-face {
    font-family: 'Avenir Next Bold';
    src: url('./fonts/Avenir Next LT Pro/AvenirNextLTPro-Bold.otf');
}

:root {
    --main-overlay-color: rgba(0, 0, 0, 0.7);
    --main-header-color: #444;
    --main-bg-color: #f7f7f7;
    --main-highlight-color: #d1d1d1;
    --main-button-color: #333333;
    --main-button-hover-color: #555555;
    --time-color: #222;
    --time-unsure-color: #aaaaaa;
    --action-btn-color: #222;
    --action-btn-hover-color: #555555;
    --action-start-btn-color: #ddd;
    --action-start-btn-hover-color: #cfcfcf;
}

body, html, #root, .app,
.container {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    font-family: 'Avenir Next Medium' !important;
}

.header {
    width: 100%;
    background-color: var(--main-header-color);
}

li {
    list-style: none;
}

.header-components {
    height: 50px;
    width: min(1000px, 95%);
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0;
}

#logo {
    margin-top: 5px;
    height: 40px;
    width: auto;
}

li > .sign-in-button {
    font-family: 'Avenir Next Bold';
    text-decoration: none;
    text-align: end;
    color: var(--main-bg-color);
    transition: 100ms ease-in-out;
    outline: none;
    cursor: pointer;
}

li > .sign-in-button:hover {
    color: var(--main-highlight-color);
}

.container-timers {
  width: min(1000px, 95%);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.hidden-input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.is-hidden {
    display: none;
}

#overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-overlay-color);
    opacity: 0;
    transition: 100ms ease-in-out;
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}


/* Media Query */
@media (max-width: 1440px) {
  .list-timer-show {
    font-size: .7em;
  }
}

@media (max-width: 1024px) {
  /* .like-button,
  .action-btn {
    opacity: 1 !important;
    transform: scale(1) !important;
  } */

  .create-timer-action-buttons {
    font-size: 2em;
  }

  .like-button,
  .action-btn {
    opacity: 1 !important;
    transform: scale(1) !important;
  }

  .timers-div,
  .active-timers {
    width: 100%;
  }

  .list-timer {
    width: 100%;
    font-size: 2.4em;
  }

  .container-timers {
    font-size: .9em;
  }

  .list-timer-show {
    font-size: .6em;
  }
}

@media (max-width: 850px) {
  .container-timers {
    font-size: .83em;
  }

  .list-timer-show {
    font-size: .5em;
  }
}

@media (max-width: 768px) {
  .container-timers {
    font-size: .7em;
  }

  .list-timer-show {
    font-size: .43em;
  }
}

@media (max-width: 650px) {
  .container-timers {
    font-size: .6em;
  }
}

@media (max-width: 575px) {
  .container-timers {
    font-size: .5em;
  }

  .create-timer-action-buttons {
    font-size: 2.5em;
  }

  .list-timer-show {
    font-size: .31em;
  }
}

@media (max-width: 475px) {
  .container-timers {
    font-size: .45em;
  }

  .list-timer-show {
    font-size: .28em;
  }
}

@media (max-width: 425px) {
  .container-timers {
    font-size: .4em;
  }

  .create-timer-action-buttons {
    font-size: 3em;
  }

  .list-timer {
    grid-template-columns: 1.5em 1em;
    grid-template-rows: none;
    font-size: 4.2em;
    place-items: center;
  }

  .set-timer {
    grid-column: auto;
  }

  .list-timer > .like-label {
    grid-area: like;
  }

  .list-timer > .set-timer {
    grid-area: time;
  }

  .list-timer > .list-timers-action-buttons {
    grid-area: buttons;
    font-size: 1.0714em;
  }

  .timers-div,
  .active-timers {
    width: 100%;
  }

  .list-timer {
    justify-self: flex-start;
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: .5em;
    grid-template-areas: 
      "like time"
      "buttons buttons";
  }

  .like-label > .like-button-list {
    width: 1.5em !important;
    height: 1.5em !important;
    margin: auto 0 ;
  }

  .list-timer-show {
    margin-top: 5rem;
    font-size: .23em;
  }
}

@media (max-width: 374px) {
  .container-timers {
    font-size: .34em;
  }

  .list-timer-show {
    margin-top: 5rem;
    font-size: .2em;
  }
}

/* @media (max-width: 375px) {
  .container-timers {
    font-size: .34em;
  }

  .list-timers-show {
    margin-top: 5rem;
    font-size: .1em !important;
  }
} */

